

@font-face{
    font-family: "nightydemo";
    src: url(assets/nightydemo.otf) format('opentype');
    font-family: "neuneu";
    src: url(assets/neuneu.otf) format('opentype');
    
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    
}

.indexBody, .inscBody, .conBody, .profilBody, .adminBody{
    scroll-behavior: smooth;
    background-color: #EEE7C1;
}


.navul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.navli {
  float: left;
}

.libtndeco{
    float: right;
    padding:6px 4px;
    
    
}

.btndeco{
    padding: 10px 25px;
    color: #353E28;
    font-family: "neuneu";
    font-size: 15px;
    font-weight: 500;
    background: transparent;
    border: none;
   
}

.btndeco:hover{
   color: #F1A204;
   transition: all 0.3s ease;
	 cursor: pointer;
    
    position: relative;
    display: inline-block;
    border-radius: 8px;
    background: #EEE7C1;
    box-shadow: inset -8px 6px 14px #cac4a4,
                inset 8px -6px 14px #ffffde;
    border: none;
}
.btndeco:active{
    position:relative;
	top:1px;
}

.navbar li a {
    display: block;
    color: #353E28;
    font-family: "neuneu";
    font-size:15px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    color: #F1A204;
    transition: all 0.3s ease;
}

.indexSection{
    display: flex;
    justify-content: center;
}

.title{
    color: #353E28;
    font-family: "neuneu";
    font-size:235px;
    padding-top: 80px;
    padding-left: 4px;
    transition: all 0.3s ease;
   
}

.title:hover, .text-center:hover{
    color: #F1A204;
    transition: all 0.3s ease;
}
.indexpic{
    display: flex;
    justify-content: center;
}
.villaOrigin{
    max-width: 80%;
	height: auto;
    
}
.connect_form{
    display: flex;
    justify-content: center;
   
}
.form-group{
    display: flex;
    justify-content: center;
    padding: 4px;
    
}
.form-group-profil{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    flex-direction: column;
}
.form-control{
    position: relative;
    padding: 4px;
    display: inline-block;
    border-radius: 8px;
    background: #EEE7C1;
    box-shadow: inset -8px 6px 14px #cac4a4,
                inset 8px -6px 14px #ffffde;
    border: none;
   
}

.text-center{
    color: #353E28;
    font-family: "neuneu";
    font-size: 50px;
    padding-top: 80px;
    padding-left: 4px;
    transition: all 0.3s ease;
    
}

.btn{
    padding: 10px 25px;
    color: #353E28;
    font-family: "neuneu";
    font-size: 15px;
    font-weight: 500;
    background: transparent;
    border: none;
}

.btn:hover{
    color: #F1A204;
    transition: all 0.3s ease;
      cursor: pointer;
     
     position: relative;
     display: inline-block;
     border-radius: 8px;
     background: #EEE7C1;
     box-shadow: inset -8px 6px 14px #cac4a4,
                 inset 8px -6px 14px #ffffde;
     border: none;
}